.flex-contact {
	width: 100%;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: flex-start;
	align-content: center;
	margin: 2rem auto;
	gap: 2.5rem;
}
.form-flex{
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	align-content: center;
	width: 25%;
	padding: 18px;
}
.input_padrao {
	display: block;
	width: 100%;
	border: .05rem solid #DCDCDC;
	border-radius: 1rem;
	padding: 8px;
	margin: .5rem 0;
	box-shadow: .15rem .1rem .2rem #DCDCDC;
}

#contact-button {
  width: 70%;	
  color: #FFFFFF;
  background-color: #1351d8; 
  padding: 1rem 3rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.6rem;
  margin: 2rem 0 0;
  border-radius: 1.5rem;
  transform: .1s all;
  align-self: flex-end;
}
#contact-button:hover {
	transform: scale(1.2);
	cursor: pointer;
	background-color: #0000CD;
}